:root {
  /* Brand / Accent */
  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-greyish-blue: #5a698f;
  --color-semi-dark-blue: #161d2f;
  --color-pure-white: #ffffff;

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

/* Base typography */
.t__base {
  font-family: var(--font-family);
  font-style: normal;
  line-height: auto;
  color: var(--color-pure-white);
}

/* Heading Size & weight modifiers */
.t__heading--l {
  font-size: 32px;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.5px;
}

.t__heading--m {
  font-size: 24px;
  font-weight: var(--font-weight-light);
}

.t__heading--s {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
}

.t__heading--xs {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

/* Heading Size & weight modifiers */
.t__body--m {
  font-size: 15px;
  font-weight: var(--font-weight-light);
}

.t__body--r {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
}

.t__body--s {
  font-size: 13px;
  font-weight: var(--font-weight-light);
}

.t__body--xs {
  font-size: 11px;
  font-weight: var(--font-weight-regular);
}
